<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
  </head>

  <body>
    <h1>Password Reset</h1>
    <p>Someone asked for password reset for this email:</p>
    <p>{{ email }}</p>
    <p>Follow the link below:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
      Reset your password
    </a>
    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
  </body>

</html>