@import url(//fonts.googleapis.com/css?family=Muli);

:root {
    --base-color: white;
    --secondary-color: #12c064;
    --third-color: #1cdf78;
    --base-text-color: black;
    --secondary-text-color: #0e924c;
    --secondary-text-hover-color: #00a74f;
    color-scheme: light;
}

.darkmode {
    --base-color: #1c1b22;
    --secondary-color: #12c064;
    /* --third-color: #1cdf78; */
    --third-color: #11954f;
    --base-text-color: white;
    --secondary-text-color: #0e924c;
    --secondary-text-hover-color: #00a74f;
    color-scheme: dark;
}

#theme-switch {
    height: 2.25rem;
    width: 2.25rem;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.25px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--base-text-color);
}

#theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch {
    background-color: black;
}

.darkmode #theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: block;
}

body {
    background-color: var(--base-color);
    color: var(--base-text-color);
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    transition: color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

p {
    line-height: 1.8;
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-text-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: var(--base-text-color);
}

h1 {
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

h2 {
    margin: 30px 0 10px;
}

ol {
    line-height: 1.5;
}

#header {
    padding: 10px 100px;
    font-size: 14px;
    background: var(--secondary-color);
    color: #f2f8bb;
    border-bottom: 4px solid var(--third-color);
    overflow: auto;
    margin-bottom: 15px;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float: left;
    color: #f2f8bb;
    font-size: 20px;
    margin-right: 10%;
}

#header .logo:hover {
    color: white;
}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a,
#header ul.menu li.selected a:hover {
    color: #1b6d32;
    font-weight: bold;
}

#header a {
    color: #f2f8bb;
}

#header a:hover {
    color: white;
}

#header .user {
    float: right;
    padding-top: 4px;
}

#header .user form button {
    background-color: var(--base-color);
    color: var(--base-text-color);
    border: 0;
    border-radius: 5px;
    padding: 1px 4px 2px;
}

#content {
    padding: 0 100px 30px;
}

/* forms */
form {
    overflow: auto;
}

form p {
    width: 100%;
    overflow: auto;
    margin-bottom: 0;
}

label {
    float: left;
    clear: both;
    color: #575757;
    margin-bottom: 4px;
}

form p label {
    margin: 0 2px;
}

#id_username_helptext {
    margin: 0 2px;
}

input,
textarea {
    clear: both;
    float: left;
    margin: 0 2px 5px;
    background: #edecec;
    border: 0;
    padding: 6px 10px;
    font-size: 14px;
    color: black;
    border-radius: 4px;
}

input:hover,
input:focus {
    background: #fffcc8;
    transition: background 0.3s ease;
}

input[type=submit],
a.button {
    font-weight: bold;
    background: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    margin: 0 2px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0.35rem;
}

.errorlist {
    color: #cc0033;
    clear: both;
    padding-left: 0;
    display: inline;
}

.helptext {
    margin: 0 0 20px 0;
    color: #aaa;
    clear: both;
    float: left;
    font-size: 13px;
}

/* messages */
ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type:
        none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: white;
    border-radius: 5px;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
    color: #e9828e;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
    color: #696b4e;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

.login-form {
    float: left;
}

/* social-auth */
.social {
    float: right;
}

.social li {
    list-style: none;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.social li a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
}

.social li.facebook {
    background: #3b5399;
}

.social li.twitter {
    background: #00cffa;
}

.social li.google {
    background: #de1710;
}


/* images */

.image-preview,
.image-detail {
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin: 0 20px 20px 0;
}

.image-detail {
    margin-top: 20px;
    border-radius: 5px;
}

p.image-detail {
    display: flex;
    float: none;
    padding-left: 10px;
}

.image-info div {
    padding: 20px 0;
    overflow: auto;
}

.count {
    color: #aaa;
    border: 3px solid #bbb;
    border-radius: 26px;
    padding: 7px 20px;
    margin: -8px 10px;
    display: inline-block;
}

a.like,
a.follow {
    float: right;
    margin-top: -8px;
}

#image-list {
    overflow: hidden;
}

#image-list .image {
    float: left;
    width: 220px;
    height: 300px;
    margin: 0 10px 10px 10px;
    border-top: 8px solid var(--secondary-color);
    background: white;
    text-align: center;
    transition: border-top 0.3s ease-out;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#image-list .image:hover {
    border-top: 20px solid var(--secondary-color);
    transition: border-top 0.4s ease-out;
}

#image-list img {
    max-width: 220px;
    max-height: 220px;
}

#image-list .info {
    padding: 10px;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}

#image-list .info a {
    color: #333;
}

.image-detail-photo {
    display: flex;
    justify-content: center;
}

.image-likes div {
    float: left;
    width: auto;
    padding: 10px;
    text-align: center;
}

.image-likes img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.image-likes a {
    display: block;
}

/* users */
#people-list img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#people-list .user {
    width: 180px;
    float: left;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

#people-list .user:hover {
    background-color: var(--secondary-color);
    transition: 0.3s ease-in;
}

#people-list .user:hover a {
    color: white;
}

#people-list .info {
    text-align: center;
}

img.user-detail {
    border-radius: 50%;
    float: left;
}

.profile-info {
    float: left;
    overflow: auto;
    margin-right: 20px;
}

.image-container {
    margin-top: 30px;
}

/* actions */
.action {
    clear: both;
    overflow: auto;
}

.action .images {
    float: left;
    margin: 0 10px 10px 0;
}

.action .date {
    font-style: italic;
    color: #ccc;
}

.item-img {
    max-width: 6rem;
    max-height: 6rem;
}

.email-validation {
    text-align: center;
}

*:disabled {
    cursor: not-allowed;
}

form.email-validation {
    display: flex;
    justify-content: center;
}

form.email-validation input[type="submit"]:disabled {
    background-color: gray;
}
