.password_reset {
  margin: 30px 0 40px;
}

h2.welcom_subtitle {
  margin-bottom: 30px;
}

img.cloudinary-user-detail {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}

label[for="photo-clear_id"] {
  float: none;
}

input#photo-clear_id {
  display: inline;
  float: none;
}

#id_photo {
  float: inherit
}

label[for="id_photo"] {
  display: block;
  margin: 0.9rem 0.5rem 1rem 0;
}