.password_reset {
  margin: 30px 0 40px;
}

h2.welcom_subtitle {
  margin-bottom: 30px;
}

img.cloudinary-user-detail {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* SEND MAIL PAGE */
h1.send_mail_page {
  margin: 10px auto 20px auto;
  color: green;
  display: block;
}

input.send_mail_page {
  width: 300px;
  height: 25px;
  display: block;
  margin-bottom: 20px;
}

div.send_mail_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea.send_mail_page {
  resize: none;
  width: 302px;
  height: 100px;
  margin-bottom: 10px;
}

input[type="submit"].send_mail_page {
  width: 150px;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  margin: 0 auto;
}